name: Build & Deploy to YCR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login Yandex CR
      uses: docker/login-action@v3
      with:
        registry: cr.yandex
        username: iam
        password: ${{ secrets.YC_IAM_TOKEN }}

    - name: Build & Push
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          cr.yandex/${{ secrets.YC_FOLDER_ID }}/dio-app:latest
          cr.yandex/${{ secrets.YC_FOLDER_ID }}/dio-app:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
